nav.navbar.navbar-fixed-top ul.navbar-nav {
	float: right;
}

.img-sli {
	width: auto;
	height: 500px;
}

.login_content form div.form-group {
	margin-bottom: 20px;
}

.login_content form div input.login-admin {
    float: none !important;
    margin-left: 0px !important;
}

.login_msg {
    color: #CD1D1D;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}